.dashboard {
	color: white;
	display: flex;
	margin-top: 74px;
	padding-bottom: 250px;
	gap: 80px;

	/*текстовая часть слева в блоке с графиками*/
	&__info {
		width: 550px;
		max-height: 315px;
		margin-top: 152px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 1;
	}

	&__h1 {
		font-weight: bold;
		line-height: 120%;
		font-size: 50px;
		margin-bottom: 15px;
	}

	&__text {
		color: $gray;
		font-size: 18px;
		margin-bottom: 35px;
		line-height: 150%;
	}


	/*правая часть с графиками*/
	&__small-img {
		box-shadow: 0 19px 53px -16px rgba(25, 42, 89, 0.4);
		border-radius: 32px;
		width: 361px;
		height: 246px;
		margin-top: 150px;
	}

	&__pictures {
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			background: url("../../assets/img/dashboard-big.png") no-repeat;
			z-index: -1;
			width: 804px;
			height: 554px;
			border-radius: 30px;
			box-shadow: 0 18px 50px -15px rgba(25, 42, 89, 0.2);
			left: 80px;
		}
	}
}
