.foot {
	position: relative;
	z-index: 1;

	&::before {
		background-color: $pink;
		z-index: -1;
		top: 0;
		content: "";
		position: absolute;
		clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 100%);
		height: 1210px;
		width: 100%;
	}

	&::after {
		background-color: $background-dark-blue;
		background-image: url("../assets/icons/logo-light-gray-2.svg");
		background-repeat: no-repeat;
		background-position: calc(50% + 800px) calc(50% + 600px);
		background-size: 2010px 2010px;
		z-index: -1;
		top: 20px;
		content: "";
		position: absolute;
		clip-path: polygon(0 17%, 100% 0, 100% 100%, 0 100%);
		height: 1210px;
		width: 100%;
		@include mobile {
			background-image: none;
		}
	}

}

/*цены*/
.pricing {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*основной текст*/
	&__text {
		margin-top: 272px;
		text-align: center;
		max-width: 620px;
	}

	&__h3 {
		font-weight: bold;
		font-size: 40px;
		margin-bottom: 30px;
	}

	&__paragraph {
		color: $grey;
		font-size: 18px;
		line-height: 150%;
		margin-bottom: 80px;
	}

	/*расположение карточек*/
	&__cards {
		display: flex;
		justify-content: space-between;
		gap: 80px;

	}

	/*стиль каточки*/
	&__card {
		box-sizing: border-box;
		background-color: #0F1F4B;
		max-width: 340px;
		height: 440px;
		border-radius: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 60px;
		text-align: center;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			cursor: pointer;
			background-color: white;
			color: $background-dark-blue;
			.pricing__card-text {
				border-bottom-color: #D3D9E9;
			}
			.pricing__btn {
				background-color: $pink;
				border-color: transparent;
				&:active {
					background-color: #005ca2;
				}
			}
		}
	}

	/*текст плана подписки*/
	&__card-text {
		max-width: 220px;
		border-bottom: 1px solid #2A407C;
		padding-bottom: 37px;
	}

	&__card-h3 {
		font-weight: bold;
		font-size: 30px;
	}

	&__card-paragraph {
		margin-top: 10px;
		color: $grey;
		font-size: 18px;
		line-height: 150%;
	}

	/*текст стоимости*/
	&__card-price {
		padding: 30px 0;
	}

	&__card-h2 {
		font-weight: bold;
		font-size: 60px;
	}

	/*кнопка*/
	&__btn {
		margin-top: 10px;
	}
}

/*активная карточка при наведении мыши меняет стили*/
/*.active-card {
	background-color: white;
	color: $background-dark-blue;
	border-top: 1px solid #D3D9E9;
}*/

/*футер в самом низу страницы*/
.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 100px;
	border-top: 1px solid #2A407C;
	padding-top: 70px;

	/*логотип*/
	&__logo {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	/*навигация*/
	&__nav {
		display: flex;
		align-items: center;
		gap: 36px
	}
	&__nav-link {
		color: $grey;
		text-decoration: none;}

	/*socials*/
	&__socials {
		display: flex;
		align-items: center;
		gap: 40px;
	}
}

