.intro-analytics {
	padding-top: 50px;
	overflow-x: hidden;
	position: relative;

	&::after {
		background-color: $background-dark-blue;
		background-image: url("../../assets/icons/logo-light-gray-2.svg");
		background-repeat: no-repeat;
		background-position: calc(50% + 480px) calc(50% + 300px);
		background-size: 1438px 1438px;
		content: "";
		width: 100%;
		height: 798px;
		top: 0;
		position: absolute;
		z-index: -1;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	}

	&::before {
		background-color: $pink;
		content: "";
		width: 100%;
		height: 798px;
		top: 20px;
		position: absolute;
		z-index: -1;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	}
}

.header {
	display: flex;
	align-items: center;


	&__logo {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-right: 80px;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&::before {
			cursor: auto;
			position: absolute;
			content: "";
			background: url("../../assets/icons/logo-light-gray-2.svg") no-repeat;
			width: 660px;
			height: 660px;
			z-index: -1;
			right: -180px;
		}
	}
}

.header__menu {
	flex-grow: 1;
	z-index: 1;

	&-list {
		display: flex;
		gap: 36px;
	}

	&-li {
		a {
			text-decoration: none;
			color: $gray;
		}

	}
}

.header__btns {
	display: flex;
	align-items: center;
}
